.container {
    width: 200;
    overflow: 'hidden';
    margin: '20px auto 0';
}

.tableHeader {
    text-align: left;
}

.checkboxRow {
    width: 40px;
}

.checkboxHeader {
    width: 40px;
}

.noteHeader {
    font-weight: bold;
    color: silver;
}